html,body{
	height: 100%;
}

:root{
	--yellow: #ffc92f;
	--red: #d82727;
	--black:#1b1b1b;
	--titlesFont:'Yanone Kaffeesatz', Arial, sans-serif;

}

body{
	font: 16px / 1.42 em Roboto, Arial, sans-serif; 
	color:#212121;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*font-size: 
	line-height:
	font-family;*/

}

ul{
	margin: 0;
	padding: 0;
}

ul>li{
list-style: none;	
}


.wrapper{
	overflow: hidden;
	width: 100%;
}
.container {
  margin: 0 auto;
  width: 1300px;
}

.hero{
	height: 100vh;
	min-height: 650px;	
	background: url(./img/web-ready/bg/hero.jpg) center center / cover no-repeat;
	position: relative;
	/*file:///D:/%D0%90%D0%BB%D1%8C%D0%B1%D0%B8%D0%BD%D1%87%D0%B8%D0%BA/HTML/%D0%BA%D1%83%D1%80%D1%81%20%D0%B1%D1%8B%D1%81%D1%82%D1%80%D1%8B%D0%B9%20%D1%81%D1%82%D0%B0%D1%80%D1%82/lostschool/index.html#file:///D:/%D0%90%D0%BB%D1%8C%D0%B1%D0%B8%D0%BD%D1%87%D0%B8%D0%BA/HTML/%D0%BA%D1%83%D1%80%D1%81%20%D0%B1%D1%8B%D1%81%D1%82%D1%80%D1%8B%D0%B9%20%D1%81%D1%82%D0%B0%D1%80%D1%82/lostschool/index.html#file:///D:/%D0%90%D0%BB%D1%8C%D0%B1%D0%B8%D0%BD%D1%87%D0%B8%D0%BA/HTML/%D0%BA%D1%83%D1%80%D1%81%20%D0%B1%D1%8B%D1%81%D1%82%D1%80%D1%8B%D0%B9%20%D1%81%D1%82%D0%B0%D1%80%D1%82/lostschool/index.html#/*background-image: url(./img/web-ready/bg/hero.jpg);
	background-repeat: no-repeat;*/
	/*	background-size: cover;
	margin-bottom: 130px;
	-moz-background-size: 100%; /* Firefox 3.6+ */
  /*  -webkit-background-size: 100%;  Safari 3.1+ и Chrome 4.0+ 
    -o-background-size: 100%; /* Opera 9.6+ */
    /*background-size: 100%;  Современные браузеры */


}

.header{
	width: 1290px;
	margin: 0 auto 0 auto; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 27px;
}




.sidebar{
	position: absolute;
	width: 75px;
	background: var(--black);
	top: 0;
	left: 0;
	bottom: 0;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: width: .3s;

}

.sidebar__menu{
	position: absolute;
	left: -400px;
	transition: left .3s;
}

.sidebar--opened .sidebar__menu{
	text-align: center;
	left: 0;
	width: 100%;
	transition-delay: .1s;

}
.sidebar--opened{
	width: 325px;
	padding: 0 3% 0 4%;


}
.sidebar__hamburger-icon{
	width: 29px;
	height: 29px;
	background:  var(--yellow);
}

.sidebar__hamburger{
	display: block;
	position: absolute;
	top: 27px;
	left: 50%;
	transform: translate(-50%);

}

.sidebar--opened .sidebar__hamburger{
	display: none;
}



.sidebar--opened .sidebar__header{
	display: flex;
}

.sidebar__header{
	position: absolute;
	top: 29px;
	left: 0;
	right: 0;
	display: none;
	justify-content: center;

}

.sidebar__close{
	position: absolute;
	top: -4px;
	right: 23px;


}
.sidebar__close-icon{
	width: 29px;
	height: 29px;
	background: var(--yellow);
	
}

.sidebar__menu-item{
	margin-bottom: 20px;

}

.sidebar__menu-link{
	text-decoration: none;
	color: var(--yellow);
	font-size: 20px;
	font-family: var(--titlesFont);

}

.sidebar__menu-link:hover{
	color: var(--red);
}



.mail{
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	color:inherit;
	

}

.mail__title{
	margin-bottom: 3px;
}	

.mail__content{
	display: block;
	background: #212121;
	color: var(--yellow);
	padding-bottom: 5px 10px;
	
}
.hero__content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1140px;
	height: 72%;

}
.fade-slider{
	width: 100%;
	height: 100%;
	position: relative;
	
}

.fade-slider__item{
	background: center center / contain no-repeat;
	position: absolute;
	top: 	0;
	left: 	0;
	height: 100%;	
	width: 	100%;
	opacity: 0;
	transition: opacity .3s;
}

.fade-slider__item--visible{
	opacity: 1;
}



.fade-slider__item--style-tshirts{
	background-image: url(./img/web-ready/content/hero/slider_pic_1.png);
	height: 100%;
	position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fade-slider__item--style-games{
	background-image: url(./img/web-ready/content/hero/slider_pic_2.png);
	height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fade-slider__item--style-presents{
	background-image: url(./img/web-ready/content/hero/slider_pic_3.png);
	height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fade-slider__text{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-164%,-52%);
	white-space: nowrap;
	text-transform: uppercase;

}


.fade-slider__item--style-presents .fade-slider__text{

	left: 37%;
    top: 89%;
    transform: translate(-101%,-52%);
 }


.fade-slider__item--style-games .fade-slider__text {

	left: 84%;
    top: 90%;
    transform: translate(-123%,-52%);
}
  

	
.lined-text{
	font-family: 'Alegreya Sans SC', Arial, sans-serif;
	font-size: 63px;
	color: #fff;
	line-height: 1; 
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
}

.lined-text__word{
	padding: 0 17px 8px;
	background: #000;
	margin-top: -7px;
	
}
.lined-text__word--color-yellow{
	color: var(--yellow);
	background: #000;
}

.lined-text__word:nth-child(2) {
	margin-left: 8px;	
}
.lined-text__word:nth-child(4) {
	margin-left: 8px;	
}

.filter{

	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}	

.filter__item{
	margin-right: 40px;
}
.filter__item: last-child{
	margin-right: 0;
}

.filter__link{	
	font-family: var(--titlesFont);
	text-transform: uppercase;
	padding: 5px 21px;
	font-size: 24px;
	font-weight: bold;
	color: var(--black);
	display: inline-block;
	text-decoration: none;

}
.filter__link:hover{
	color: var(--red);
	
}	

.filter__item--active .filter__link{
	color: var(--yellow);
	background:  var(--black);

}

.products{
	width: 100%;
	margin:0;
}

.products__list{
	display: flex;
	flex-wrap: wrap;
	margin-left: -27px; 

}
.products__item{
	width: 302px;
	height: 385px;
	background: var(--yellow);
	margin-bottom: 33px;
	margin-left: 27px;
	position: relative;

}
.product__price{
	position: absolute;
	top: 18px;
	left: -6px;
	width: 126px;
	border-bottom: 45px solid #232323;
	border-left: 5px solid transparent;
	border-right: 2px solid transparent;
	/*border-top-color: red;
	border-left-color: green;*/
	transform: rotate(-181deg);


}
.product__price-amount{
	font-size: 30px;
	font-family: var(--titlesFont);
	color: #fff;
	transform: rotate(180deg);
	position: absolute;
	top: 2px;
	right: 28px;



}

.products__content{
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	overflow: hidden;

}

.products__img{
	display: block;
	max-width: 100%;
	max-height: 100%;
	

}
.products__item:hover .products__desc {
	transform: translateY(0%);

}

.products__desc{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 23px 30px;
	background: rgb(35, 35, 35, .8);
	font-size: 15px;
	color: #fff;
	display: flex;
	flex-direction: column; 
	align-items: center;
	transform: translateY(100%);
	transition: transform .3s;


}
.btn{
	text-transform: uppercase;
	font-family: var(--titlesFont);
	font-size: 24px;
	padding: 2px 30px;
	background: var(--black);
	color: var(--yellow);
	display: inline-block;
	text-decoration: none;
}

.products__desc-text{
	text-align: center;
	padding-bottom: 18px;
}
.btn:hover {
	background: var(--red);
	color: #fff;

}
.product__item--color-black {
	background: #232323;

}

.product__item--color-black  .product__price{
	border-bottom-color: var(--yellow);

}
.product__item--color-black  .product__price-amount{
	color: #000;

}

.product__item--size-double {
	width: 630px;
	height: 544px;
}

.collections{
	margin-top: 190px;
}


.collections-list{
	width: 100%;
	display: flex;
	margin: 0;
	padding-bottom: 147px;
	justify-content: center;
	text-align: center;
}

.collections__items{
display: flex;

}

.collections__items-product{
overflow:hidden;
width: 630px;
height: 468px;
/*display: block;*/
background: url('./img/web-ready/bg/pattern.png') center center / 500px;
justify-content: space-between;
margin-right: 27px;
position: relative;
}

.collections__items-img{
display: block;
position: absolute;
left: 0%;
top: 0%;
transform: translate(-30%,-10%);

}


.collections__items-img--man{
height: 200%;
}

.collections__items-img--woman{

	margin-top: -50px;
}


.collections__items-text{
	display: block;
	width: 270px;
	height: 256px;
	position: absolute;
	right: 0px;
	top: 0px;
	transform: (-50%, -50%);
	padding-top: 81px;
	margin-right: 52px;



}
.collections__item-title{
	font-family: var(--titlesFont);
	font-size: 70px;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
	line-height: 0.9em;
	padding-bottom: 10px;

}

.collections__items-desc{
	padding-bottom: 25px;
	font-size: 15px;
}

.footer{
	margin-bottom: 115px;	
}

.footer__container{
	width: 1105px;

}
.site-menu__sections{
	display: flex;	
	justify-content: space-between;
}
.site-menu__col{
	margin-right: 20px;
}

.site-menu__col:last-child{
	margin-right: 0px;

}

.site-menu__title{
	font-family: var(--titlesFont);
	font-size: 24px;
	font-weight: bold; 
	color: var(--black);
	text-transform: uppercase;
	margin-bottom: 24px;
}

.site-menu__item{
	margin-bottom: 15px;

}

.site-menu__link{
	font-size: 15px;
	text-decoration: none;
	font: 16px / 1.42 em Roboto, Arial, sans-serif; 
	text-transform: none;
	color: var(--black);
	line-height: 1.5em;


}

.site-menu__link:hover {
	color: red;
}

.site-menu__text{
	font-size: 15px;
	color: var(--black);
	margin-bottom: 30px;


}

.site-menu__text-row{
	color: inherit;
	text-decoration: none;
	display: block;

}



.extras {
  display: flex;
  margin-bottom: 95px;
}

.extras__col {
  margin-right: 20px;
  flex: 1;
}

.extras__col:last-child {
  margin-right: 0px;
}

.extras__best {
  text-align: center;
  color: #fff;
  background: #232323;
  font-size: 50px;
  font-weight: bold;
  font-family: var(--titlesFont);
  text-transform: uppercase;
  padding: 39px 10%;
  display: block;
  text-decoration: none;
  line-height: 1;
}

.extras__col-socials {
  height: 100%;
  background: url('./img/web-ready/bg/pattern.png') center center / 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 50px;
}

.socials__item:last-child {
  margin-right: 0px;
}

.socials__link {
	width: 28px;
	height: 38px;
	display: block;
}

.socials__icon{
	width: 23px;
	height: 28px;

}

.socials__link:hover .socials__icon{
	color: red;
}













	